<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebApplication1.Site"%>

<!DOCTYPE html>
<html lang="pt-BR">
<head runat="server">
    <meta charset="UTF-8">
    <title>Sistema de Bolsistas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <header>
            <h1>Gestão de Bolsistas</h1>
            <hr />
        </header>

        <nav>
            <a href="BolsistaExemplo.aspx">
                inicio
            </a>
             | 
            <a href="CadastroBolsista.aspx">
                cadastro de bolsistas
            </a>
             | 
             <a href="CadastroCoordenador.aspx">
                 cadastro de coordenadores
             </a>
             | 
             <a href="CadastroProjeto.aspx">
                 projetos
             </a>
             | 
             <a href="CadastroDespesa.aspx">
                 despesas
             </a>
          
        </nav>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
